
<footer>
    <div class="container">
            <div class="row text-md-start text-center">
        <div class="col-md-3 mb-4">
          <h6>Exclusive</h6>
          <p>Subscribe<br>Get 10% off your first order</p>
          <form class="d-flex">
            <input type="email" class="form-control me-2" placeholder="Enter your email">
            <button class="btn btn-primary">→</button>
          </form>
        </div>
        <div class="col-md-3 mb-4">
          <h6>Support</h6>
          <p>Thrissur<br>Kerala<br>India</p>
          <p>booksy@gmail.com</p>
          <p>+91-9048923453</p>
        </div>
        <div class="col-md-2 mb-4">
          <h6>Account</h6>
          <a href="#">My Account</a><br>
          <a href="#">Cart</a><br>
          <a href="#">Wishlist</a><br>
          <a href="#">Shop</a>
        </div>
        <div class="col-md-2 mb-4">
          <h6>Quick Link</h6>
          <a href="#">Privacy Policy</a><br>
          <a href="#">Terms of Use</a><br>
          <a href="#">FAQ</a><br>
          <a href="#">Contact</a>
        </div>
        <div class="col-md-2 mb-4">
          <h6>Download App</h6>
          <img src="/assets/images/qrcode.png" class="img-fluid mb-2" style="width: 40px; height: 40px;" alt="QR Code">
          <div class="mt-2">
            <img src="/assets/images/playstore.jpeg" class="img-fluid mb-2" style="width: 40px;height: 40px"alt="Play Store"><br>
            <img src="/assets/images/appstore.png" class="img-fluid" style="width: 40px;height: 40px;" alt="App Store">
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <p class="mb-0">© Copyright Booksy. All rights reserved</p>
      </div>
    </div>
</footer>
